.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.DS_Store
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
doc
# getting clobbered by vm.args.src
config/vm.args
