{alias, [
    {check, [
        xref, dialyzer, gradualizer, eunit,
        ct, proper, {cover, "-v"}
    ]}
]}.

{deps, [
    gproc,
    {tomerl, "0.5.0"},
    {itc, "1.0.0", {pkg, interval_tree_clocks}},
    {uuid, "2.0.0", {pkg, uuid_erl}},
    recon,
    {tak, {git, "https://github.com/ferd/tak.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    {feature,maybe_expr,enable}
]}.

{ct_opts, [
    %% for CI
    {ct_hooks, [cth_surefire]},
    %% we work a lot with dir scans, so one per test is a good idea
    {create_priv_dir, auto_per_tc}
]}.

{project_plugins, [
    rebar3_proper,
    {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

{cover_enabled, true}.
{cover_opts, [verbose, {min_coverage, 80}]}.

{dialyzer, [
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown
    ]},
    {exclude_mods, [revault_app]}
]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]
    },
    {test, [
        {relx, [{sys_config, "./config/test.sys.config"},
                {dev_mode, false},
                {mode, prod}
                ]},
        {erl_opts, [nowarn_export_all]},
        {deps, [proper, meck]},
        %% required for distributed tests
        {dist_node, [
            {name, 'test_lead@127.0.0.1'}
        ]}

    ]}
]}.

{pre_hooks, [
    {proper, "rm -rf _build/test/scratch/"}
]}.

{relx, [{release, {revault, "0.1.0"},
         [revault,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

