{alias, [
    {check, [
        lint, xref, dialyzer,
        ct, proper, {cover, "-v"}
    ]}
]}.

{deps, [
    gproc,
    recon
]}.

{erl_opts, [debug_info]}.
{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{project_plugins, [
    rebar3_lint,
    rebar3_proper
]}.

{cover_enabled, true}.
{cover_opts, [verbose, {min_coverage, 80}]}.

{dialyzer, [
    {warnings, [
       %% Warn about undefined types and unknown functions
       unknown
    ]}
]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false},
                    {include_erts, true}]}]
    },
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [proper]}
    ]}
]}.

{pre_hooks, [
    {proper, "rm -rf _build/test/scratch/"}
]}.

{relx, [{release, {revault, "0.1.0"},
         [revault,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{elvis,
 [#{dirs => ["apps/*/src", "src"],
    filter => "*.erl",
    rules => [
        {elvis_style, line_length,
          #{ignore => [],
            limit => 80,
            skip_comments => false}},
         {elvis_style, no_tabs},
         {elvis_style, no_trailing_whitespace},
         {elvis_style, macro_names, #{ignore => []}},
         {elvis_style, macro_module_names},
         {elvis_style, operator_spaces, #{rules => [
               {right, ","},
               {right, "++"},
               {left, "++"}
         ]}},
         {elvis_style, nesting_level, #{level => 4}},
         {elvis_style, god_modules,
          #{limit => 25,
            ignore => []}},
         %{elvis_style, no_if_expression}, % if exps are fine
         {elvis_style, used_ignored_variable},
         {elvis_style, no_behavior_info},
         {elvis_style, module_naming_convention,
           #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
             ignore => []}
           },
         {elvis_style, function_naming_convention,
          #{regex => "^([a-z][a-z0-9]*_?)*$"}},
         {elvis_style, state_record_and_type},
         {elvis_style, no_spec_with_records},
         {elvis_style, dont_repeat_yourself, #{min_complexity => 10}},
         {elvis_style, no_debug_call, #{ignore => []}}
    ]
  },
  #{dirs => ["."],
    filter => "rebar.config",
    rules => [{elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
  }
 ]
}.
