[
  {revault, [
    {s3_tmpdir, ".tmp"},
    %% Turn this on at your own risk, some updates
    %% may be missed since last modified stamps are
    %% not very granular at the second level.
    {disk_hash_cache, false}
  ]},
  {maestro, []},
  {opentelemetry,
    [{span_processor, batch},
     {traces_exporter, otlp}]}
].
