[
  {revault, [
    {s3_tmpdir, ".tmp"},
    %% Turn this on at your own risk, some updates
    %% may be missed since this cache uses a mix of modification
    %% times and file sizes to avoid re-hashing files.
    {disk_hash_cache, false}
  ]},
  {maestro, []},
  {opentelemetry,
    [{span_processor, batch},
     {traces_exporter, otlp}]}
].
