[
  {revault, [
    {s3_tmpdir, ".tmp"},
    %% keep the cache off for most testing purposes
    %% since it has an effect on invalidation efforts
    %% and specific tests are geared to see it is
    %% equivalent (when properly invalidated) to working
    %% without it.
    {disk_hash_cache, false}
  ]},
  {maestro, []},
  {opentelemetry,
    [{span_processor, batch},
     {text_map_propagators, [trace_context, baggage]},
     {traces_exporter, {otel_exporter_stdout, []}}]}
].
